<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-body-secondary">
      <font dir="auto" style="vertical-align: inherit"
        ><font dir="auto" style="vertical-align: inherit"
          >© 2025 Company, Inc</font
        ></font
      >
    </p>
    <a
      href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      aria-label="Oreja"
    >
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          ><font dir="auto" style="vertical-align: inherit"
            ><font dir="auto" style="vertical-align: inherit">Hogar</font></font
          ></a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          ><font dir="auto" style="vertical-align: inherit"
            ><font dir="auto" style="vertical-align: inherit"
              >Características</font
            ></font
          ></a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          ><font dir="auto" style="vertical-align: inherit"
            ><font dir="auto" style="vertical-align: inherit"
              >Precios</font
            ></font
          ></a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          ><font dir="auto" style="vertical-align: inherit"
            ><font dir="auto" style="vertical-align: inherit"
              >Preguntas frecuentes</font
            ></font
          ></a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          ><font dir="auto" style="vertical-align: inherit"
            ><font dir="auto" style="vertical-align: inherit"
              >Acerca de</font
            ></font
          ></a
        >
      </li>
    </ul>
  </footer>
</div>
