
<div th:fragment="sidebarPreview">
    <div class="movie-card">
        <div class="movie-header justify-content-center align-items-center">
            <img id="prev-imagen"
                 src="/Images/Movie-Icon.png"
                 class="movie-img mt-3"
                 alt="preview"/>
        </div>
        <div class="card-body text-center">
            <p id="prev-titulo" class="movie-title mb-1">TÍTULO</p>
            <p id="prev-genero" class="text-info-custom mb-0">Género</p>
            <hr class="border-light-subtle my-2"/>
            <div class="d-flex justify-content-between text-info-custom">
                <span id="prev-duracion">0 min</span>
                <span id="prev-clasificacion">—</span>
            </div>
            <div class="d-flex justify-content-between text-info-custom mt-1">
                <span id="prev-idioma">Idioma</span>
                <span id="prev-formato">Formato</span>
            </div>
        </div>
    </div>
</div>
