<!-- <div th:fragment="tw(movie)"> -->
<div th:fragment="tw(movie)">

  <div class="w-[230px] rounded-[20px] bg-[#1b233d] p-[5px] overflow-hidden shadow-lg transition-transform duration-500 hover:scale-105">
    
    <!-- Top -->
    <div class="relative flex flex-col h-[150px] rounded-[15px] bg-gradient-to-br from-cyan-600 to-cyan-300">
      
      <!-- Barra superior -->
      <div class="absolute top-0 w-full flex justify-between h-[20px]">

        <!-- Género -->
        <div class="pl-[15px] py-[7px] text-xs font-semibold text-[#1b233d]">
          <!-- <span th:text="${movie.genero}">Genero</span> -->
           <span>Genero</span>
        </div>

        <!-- Duración -->
        <div class="pr-[15px] py-[7px] text-xs font-semibold text-[#1b233d]">
          <!-- <span th:text="${movie.duracion} + ' min'">Duración</span> -->
           <span>Genero</span>
        </div>

      </div>

      <!-- Imagen (por ahora SIEMPRE la de defecto) -->
      <div class="flex-1 flex items-center justify-center">
        <!-- <img class="h-[80px] rounded-md shadow-md"
             th:src="@{/Images/Movie-Icon.png}"
             alt="Portada película"> -->
             <span>Genero</span>
      </div>

    </div>

    <!-- Bottom -->
    <div class="mt-[15px] px-[5px] py-[10px]">
      
      <!-- Título -->
      <!-- <span class="block text-center text-white text-[17px] font-bold tracking-[2px]"
            th:text="${movie.titulo}">
        Título
      </span> -->
      <span>Genero</span>


      <div class="flex justify-between mt-[20px] text-center text-[rgba(170,222,243,0.72)]">
        
        <!-- Formato -->
        <div class="flex-1 p-[5px]">
          <!-- <span class="block text-[12px]" th:text="${movie.formato}">Formato</span>
          <span class="text-[9px]">Formato</span> -->
          <span>Genero</span>
        </div>

        <!-- Idioma -->
        <div class="flex-1 p-[5px] border-x border-white/10">
          <!-- <span class="block text-[12px]" th:text="${movie.idioma}">Idioma</span>
          <span class="text-[9px]">Idioma</span> -->
          <span>Genero</span>
        </div>

        <!-- Clasificación -->
        <div class="flex-1 p-[5px]">
          <!-- <span class="block text-[12px]" th:text="${movie.clasificacion}">Clasificación</span>
          <span class="text-[9px]">Clasificación</span> -->
          <span>Genero</span>
        </div>

      </div>

    </div>
  </div>

</div>
